@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>  Mohamed A.Elgwad Mohamed<br /></h3>

<address>
  
    Cairo, Shubra<br />
    <abbr title="Phone"></abbr>
     01223392002
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>